:root {
    --light-blue-color: paleturquoise;
    --light-green-color: lime;
    --blue-color: aqua;
    --purple-color: rgb(144 , 0 , 255);
    --white: rgb(222 , 222 , 222);
    --pure-white: white;
    --black: #323334;
    --coral: coral;
    --main-title: Cooper;
    --title-font: ChunkFive;
    --para-font: Cascadia Code;
    --other-para: mono-serif;
}

/* @media screen and (max-width: 768px) {
    .form input {
        width: 100%;
    }
    .form button {
        width: 200px;
        padding: 15px;
    }
}

@media screen and (max-width: 600px) {
    .form input {
        width: 100%;
    }
    .form button {
        width: 175px;
        padding: 10px;
    }
} 


@media screen and (max-width: 400px) {
    .form button {
        width: 150px;
        padding: 8px;
    }
} */